html {
    display: none;
}

@media (max-width:50px) {

    @media (max-height:50px) {

        html {
            display: block;
        }

        * {
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        main {
            justify-content: space-between;
            display: flex;
        }

        .menuimg {
            justify-content: space-around;
            flex-wrap: wrap;
            display: flex;
            font-size: 2px;
            width: 30px;
        }

        .assorti {
            flex-direction: column;
            display: flex;
            align-items: center;
            margin: 1px;
            height: 15px;
            width: 12px;
        }

        .assorti img {
            width: 12px;
            height: 12px;
            object-fit: cover;
        }

        .menu {
            width: max-content;
            padding-bottom: 15px;
            flex-direction: column;
            display: flex;
            border-right: 1px solid #b235bc;
        }

        .menu a{
            text-decoration: none;
            color: #b235bc;
            padding: 1px;
            font-size: 3px;
        }

        .menu a:hover{
            background-color: #b235bc;
            color: white;
        }

    }
}
