html {
    display: none;
}

@media (max-width:50px) {

    @media (max-height:50px) {

        html {
            display: block;
        }

        * {
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


        main {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }

        main img {
            border: 1px solid #b235bc;
            margin: 1px auto;
        }
        .info p {
            text-align: center;
            font-size: 3px;
            background-color: #b235bc;
            color: white;
            padding: 1px;
            max-width: 40px;
            overflow: hidden;
        }
        .info {
            margin: 0 auto;
        }

    }
}
