html {
    display: none;
}

@media (max-width:50px) {

    @media (max-height:50px) {

        html {
            display: block;
        }

        * {
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        main {
            display: flex;
            justify-content: center;
        }

        main img {
            margin: 1px;
        }
        
        .info p {
            font-size: 3px;
            color: rgb(0, 0, 0);
            padding: 1px;
            max-width: 40px;
            overflow: hidden;
            padding: 0;
        }

        .info {
            margin: 0 auto;
        }

        .info a {
            text-decoration: none;
            color: #ffffff;
            background-color: #35bc3c;
            font-size: 3px;
            position: fixed;
            padding: 1px;
            left: 18px;
        }

    }
}
